@use 'sass:color';

$user_dark: color.scale(
  $color: #ff9f1c,
  $blackness: 7%,
);

$machine_dark: color.scale(
  $color: #e71d36,
  $blackness: 15%,
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Alexandria', serif;
  font-optical-sizing: auto;
}

#game {
  width: 1000px;
  height: 700px;
  position: relative;
  background-color: #e5e5e5;
  overflow: hidden;

  header {
    width: 100%;
    padding: 26px 22px;
    background-color: #2ec4b6;

    h1 {
      font-size: 4rem;
    }
  }

  nav {
    margin-top: 52px;

    ul {
      list-style: none;
    }

    li {
      margin-bottom: 10px;
    }

    button {
      width: 204px;
      height: 62px;
      font-size: 2rem;
      font-weight: normal;
      text-align: left;
      padding: 0px 26px;
      cursor: pointer;
      border: none;
      transition: 0.2s background-color ease-in;

      &.primary {
        background-color: #ff9f1c;

        &.is-loading,
        :disabled {
          cursor: progress;
          background: linear-gradient(
            90deg,
            #ff9f1c 25%,
            #fab75b 50%,
            #ff9f1c 75%
          );
          background-size: 200% 100%; /* Wider than container to allow sliding */
          animation: shimmer 1.5s infinite;
        }

        &:hover {
          background-color: $user_dark;
        }
      }

      &.secondary {
        background-color: #c3c3c3;
        &:hover {
          background-color: color.scale($color: #c3c3c3, $blackness: 10%);
        }
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

#canvas-placeholder {
  width: 659px;
  height: 564px;
  position: absolute;
  bottom: 32px;
  right: 67px;

  &.is-playing.is-machine {
    cursor: progress;
  }

  &.is-playing.is-user {
    cursor:
      url('../img/mouse-cursor.png') 5 5,
      pointer;
  }
}

#score {
  width: 70%;
  position: absolute;
  top: 26px;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  visibility: hidden;

  .score-title {
    font-size: 24px;
    display: block;
    margin-right: 12px;
    font-weight: 300;
  }

  #player-turn-msg {
    opacity: 0;
    transform: translateX(-50px);
    transition: 0.4s ease-in;
  }

  .score-wrapper {
    display: flex;
    align-items: center;

    opacity: 0;
    transform: translateX(200px);
    transition: 0.4s ease-in;
  }

  &.is-playing {
    visibility: visible;

    #player-turn-msg,
    .score-wrapper {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .score-match-wrapper {
    width: 204px;
    display: flex;
  }

  .score-badge {
    width: 50%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    span {
      font-size: 24px;
      font-weight: 900;
    }

    &.score-user {
      background-color: #ffbc60;

      &.is-playing {
        box-shadow: inset 0px 0px 0px 8px $user_dark;
      }
    }

    &.score-machine {
      background-color: #e71d36;

      &.is-playing {
        box-shadow: inset 0px 0px 0px 8px $machine_dark;
      }
    }
  }
}

#match-end-modal {
  width: 410px;
  height: 187px;
  background-color: rgba(0, 0, 0, 0.44);
  position: absolute;
  margin: auto;
  right: 191px;
  bottom: 215px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 120px 0px 0px rgba(0, 0, 0, 0.5);

  &.is-match-ended {
    display: flex;
  }

  h3 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 16px;
  }

  button {
    width: 190px;
    height: 55px;
    background-color: #2ec4b6;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    border: none;

    transition: 0.2s background-color ease-in;

    &:hover {
      background-color: #26e6d3;
    }
  }
}

.match-result-modal {
  width: 410px;
  height: 187px;
  background-color: linear-gradient(black 60%, rgba(0, 0, 0, 0.44));
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  text-align: center;
}
